<div class="home">
  <div class="slide1">
    <div class="background-slideshow">
      <div class="bg1">
        <n class="center-home">
          <h1>Harris Citrus Nursery</h1>
          <h2>Where Citrus Comes Alive</h2>
          <n class="button2"><c>shop now</c></n>
        </n>
      </div>
      <div class="bg2">
        <n class="center-home">
          <h1>Local Trees from a Florida Nusery</h1>
          <h2>See the qualitiy difference a caring touch can make</h2>
          <n class="button2"><c>learn more about us</c></n>
        </n>
      </div>
      <div class="bg3">
        <n class="center-home">
          <h1>Cold Hardy Rootstocks</h1>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <n class="button2"><c>curabitur rhoncus</c></n>
        </n>
      </div>
      <div class="bg4">
        <n class="center-home">
          <h1>Duis id quam quis ex elementum</h1>
          <h2>congue ut vel quam</h2>
          <n class="button2"><c>curabitur rhoncus</c></n>
        </n>
      </div>
    </div>
    <div class="greytopbackground"></div>
      <div class="buttons-on-bottom">
        <%= link_to "Trees", trees_path, class: "btn" %>
        <%= link_to "Shipping & Returns", shiprate_path, class: "btn" %>
        <%= link_to "About Us", about_path, class: "btn" %>
      </div>
  </div>
  <div id="slide2" class="slide2">
      <div class="container2 containertransformX">
        <h1>The USDA now allows our nursery to ship out of state</h1>
        <h2>Review our shipping info for details</h2>
        <%= link_to "View Now", shiprate_path, class: "button2" %>
      </div>
      <div class="tree_trio"></div>
  </div>
  <div class="slide3">
    <div class="container">
      <h1>Hosting one of the largest varieties of citrus trees</h1>
      <h2>on the best rootstocks known to man</h2>
      <%= link_to "Check out our inventory", trees_path, class: "button2" %>
    </div>
  </div>
  <div class="slide4">
    <div class="profile-container">
      <div class="profile-picture"></div>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean vitae sem nulla. Curabitur et fringilla ex. Proin ut quam metus.
        Proin tristique efficitur lectus, et laoreet odio rhoncus viverra.
        Praesent pharetra, nulla non sodales mattis, mauris sem ultricies nibh,
        sit amet finibus ante lacus nec nibh. Sed vitae fringilla erat.
         Mauris in scelerisque neque. Curabitur faucibus fringilla tellus et dapibus.
         In vel ex id libero elementum placerat ac sed urna. Cras sit amet ligula id
         orci volutpat volutpat. Aliquam vitae leo sed est eleifend iaculis. Duis a
         vulputate turpis. Morbi nec sagittis tortor, ac posuere ipsum. Aenean ac
         aliquet erat. Aenean at augue diam. Mauris sed nisi efficitur, condimentum
         eros id, aliquam mauris.
      </h3>
    </div>
    <div class="profile-container">
      <div class="profile-picture"></div>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean vitae sem nulla. Curabitur et fringilla ex. Proin ut quam metus.
        Proin tristique efficitur lectus, et laoreet odio rhoncus viverra.
        Praesent pharetra, nulla non sodales mattis, mauris sem ultricies nibh,
        sit amet finibus ante lacus nec nibh. Sed vitae fringilla erat.
         Mauris in scelerisque neque. Curabitur faucibus fringilla tellus et dapibus.
         In vel ex id libero elementum placerat ac sed urna. Cras sit amet ligula id
         orci volutpat volutpat. Aliquam vitae leo sed est eleifend iaculis. Duis a
         vulputate turpis. Morbi nec sagittis tortor, ac posuere ipsum. Aenean ac
         aliquet erat. Aenean at augue diam. Mauris sed nisi efficitur, condimentum
         eros id, aliquam mauris.
      </h3>
    </div>
    <div class="profile"></div>
  </div>
</div>

<%= render 'layouts/footer' %>
