<div class="jumbotron glass center">
<h1><font color="white">Trees</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="center">
     <h2>VARIETIES</h2>
   </div>
   <div class="row">
    <div class="col-md-4">
      <h3><%= link_to "Blood Orange", bloodorange_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Citron", citron_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Red Grapefruit", redgrapefruit_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "White Grapefruit", whitegrapefruit_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Kumquat", kumquat_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Kumquat Hybrids", kumquathybrids_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Lemon", lemon_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Limes", limes_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Mandarins", mandarins_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Pummelo", pummelo_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Pummelo Hybrids", pummelohybrids_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Sour Orange", sourorange_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Sweet Orange, Early", sweetorangeearly_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Sweet Orange, Late", sweetorangelate_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Sweet Orange, Mid", sweetorangemid_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Tangelo", tangelo_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Tangerines", tangerines_path %></h3>
    </div>
  </div>
</div>

