<div class="jumbotron glass center">
<h1><font color="white">Trees</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="center">
     <h2>CATEGORIES</h2>
   </div>
   <div class="row">
    <div class="col-md-4">
      <h3><%= link_to "Blood Orange", bloodorange_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Citron", citron_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Red Grapefruit", redgrapefruit_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "White Grapefruit", whitegrapefruit_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Kumquat", kumquat_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Kumquat Hybrids", kumquathybrids_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Lemon", lemon_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Limes", limes_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Mandarins", mandarins_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Pummelo", pummelo_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Pummelo Hybrids", pummelohybrids_path %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= link_to "Sour Orange", sourorange_path %></h3>
    </div>
    <div class="col-md-4">
      <h3>Sweet Orange, Early</h3>
    </div>
    <div class="col-md-4">
      <h3>Sweet Orange, Late</h3>
    </div>
    <div class="col-md-4">
      <h3>Sweet Orange, Mid</h3>
    </div>
    <div class="col-md-4">
      <h3>Tangelo</h3>
    </div>
    <div class="col-md-4">
      <h3>Tangerines</h3>
    </div>
  </div>
</div>

