<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="jumbotron glass strokeme">
<h1><font color="white"> Cart </font></h1>
</div>
<div class="jumbotron opaque">
<ul>
<% @cart.line_items.each do |item| %>

<!-- <%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> -->
<div class="row">

<h2><%= item.quantity %>x <%= item.tree.name %>
<%= link_to "", item, :method => :delete, class: "fa fa-times nonderliner" %></h2>
<%= form_for (item) do |f| %>
<%= f.label :quantity %>
<div class="cartquantity">
<%= f.text_field :quantity, :placeholder => ".."%>
</div>
<p>Price: <%= number_to_currency(item.tree.price * item.quantity) %></p>
<div class="form-group"><button class="btn btn-default updatebutton" type='submit'>Update</button></div>
<% end %>



<% end %>

</ul>  
<div class="total">
<div>
<p>Total: <%= number_to_currency(@cart.total_price) %></p>
</div>
<%= link_to 'Back', categories_path, class: "btn btn-default" %>
<%= link_to 'Empty Cart', @cart, :method => :delete,
        data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>
</div>
</div>