<div class="jumbotron glass strokeme">
<h1><font color="white"><%= @category.name%></font></h1>
</div>

<div class="jumbotron opaque">
  <% @category.trees.each do |tree|%>
  <h2><%= tree.name %></h2>
  <div class="description"><p><%= tree.description %></p></div>
  <br><p>Price: <%= number_to_currency(tree.price) %></p>
  <a class="btn btn-default">
  <%= button_to 'Add to Cart', line_items_path(tree_id: tree), class: "nobutton" %></a>
  
<% end %>

</div>
